<% provide(:title, 'home') %>
<h1>Welcome Blog App</h1>
<h2><%= link_to 'ABOUT', static_pages_about_path %></h2>
<p>New user <%= link_to "Signup", signup_path %></p>
<p>If you have an account <%= link_to "Login", login_path %></p>
